<IfModule mod_authz_core.c>
  <RequireAny>
    Require ip 109.183.230.59
  </RequireAny>
</IfModule>

<IfModule !mod_authz_core.c>
  Order Deny,Allow
  Deny from all
  Allow from 109.183.230.59
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
